<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pan.dev.dao.ArticleDao">

    <resultMap id="article" type="Article">
        <id property="articleId" column="article_id"/>
        <result property="articleTitle" column="article_title"/>
        <result property="articleMarkdownContent" column="article_markdown_content"/>
        <result property="articleHtmlContent" column="article_html_content"/>
        <result property="articleSummary" column="article_summary"/>
        <result property="articleReleaseDate" column="article_release_date"/>
        <result property="articleUpdateDate" column="article_update_date"/>
        <result property="articleViewCount" column="article_view_count"/>
        <result property="articleCommentCount" column="article_comment_count"/>
        <result property="articleLikeCount" column="article_like_count"/>
        <result property="articleReleaseType" column="article_release_type"/>
        <result property="articleClassify" column="article_classify"/>
        <result property="articleTag" column="article_tag"/>
        <result property="articleCanComment" column="article_can_comment"/>
        <result property="articlePreArticleTitle" column="article_pre_article_title"/>
        <result property="articleNextArticleTitle" column="article_next_article_title"/>
        <result property="articleImage" column="article_image"/>
        <result property="articleTop" column="article_top"/>
        <association property="articleAuthor" column="article_author" javaType="User" resultMap="user"/>
    </resultMap>

    <resultMap id="user" type="User">
        <id property="userId" column="user_id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <collection property="roles" column="role_id" ofType="Role" resultMap="role"/>
    </resultMap>
    <resultMap id="role" type="Role">
        <id property="roleId" column="role_id"/>
        <result property="roleName" column="role_name"/>
        <result property="description" column="description"/>
        <collection property="permissions" column="permission_id" ofType="Permission" resultMap="permission"/>
    </resultMap>
    <resultMap id="permission" type="Permission">
        <id property="permissionId" column="permission_id"/>
        <result property="permissionName" column="permission_name"/>
    </resultMap>

    <insert id="insertArticle" useGeneratedKeys="true" keyProperty="articleId" parameterType="Article">
        INSERT INTO
            article
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="articleId != null">
                article_id,
            </if>
            <if test="articleTitle != null">
                article_title,
            </if>
            <if test="articleMarkdownContent != null">
                article_markdown_content,
            </if>
            <if test="articleSummary != null">
                article_summary,
            </if>
            <if test="articleHtmlContent != null">
                article_html_content,
            </if>
            <if test="articleAuthor != null">
                article_author,
            </if>
            <if test="articleReleaseDate != null">
                article_release_date,
            </if>
            <if test="articleUpdateDate != null">
                article_update_date,
            </if>
            <if test="articleViewCount != null">
                article_view_count,
            </if>
            <if test="articleCommentCount != null">
                article_comment_count,
            </if>
            <if test="articleLikeCount != null">
                article_like_count,
            </if>
            <if test="articleReleaseType != null">
                article_release_type,
            </if>
            <if test="articleClassify != null">
                article_classify,
            </if>
            <if test="articleTag != null">
                article_tag,
            </if>
            <if test="articleCanComment != null">
                article_can_comment,
            </if>
            <if test="articlePreArticleTitle != null">
                article_pre_article_title,
            </if>
            <if test="articleNextArticleTitle != null">
                article_next_article_title,
            </if>
            <if test="articleImage != null">
                article_image,
            </if>
            <if test="articleTop != null">
                article_top,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="articleId != null">
                #{articleId,jdbcType=INTEGER},
            </if>
            <if test="articleTitle != null">
                #{articleTitle,jdbcType=VARCHAR},
            </if>
            <if test="articleMarkdownContent != null">
                #{articleMarkdownContent,jdbcType=VARCHAR},
            </if>
            <if test="articleSummary != null">
                #{articleSummary,jdbcType=VARCHAR},
            </if>
            <if test="articleHtmlContent != null">
                #{articleHtmlContent,jdbcType=VARCHAR},
            </if>
            <if test="articleAuthor != null">
                #{articleAuthor,jdbcType=INTEGER},
            </if>
            <if test="articleReleaseDate != null">
                #{articleReleaseDate,jdbcType=TIMESTAMP},
            </if>
            <if test="articleUpdateDate != null">
                #{articleUpdateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="articleViewCount != null">
                #{articleViewCount,jdbcType=INTEGER},
            </if>
            <if test="articleCommentCount != null">
                #{articleCommentCount,jdbcType=INTEGER},
            </if>
            <if test="articleLikeCount != null">
                #{articleLikeCount,jdbcType=INTEGER},
            </if>
            <if test="articleReleaseType != null">
                #{articleReleaseType,jdbcType=VARCHAR},
            </if>
            <if test="articleClassify != null">
                #{articleClassify,jdbcType=VARCHAR},
            </if>
            <if test="articleTag != null">
                #{articleTag,jdbcType=VARCHAR},
            </if>
            <if test="articleCanComment != null">
                #{articleCanComment,jdbcType=BIT},
            </if>
            <if test="articlePreArticleTitle != null">
                #{articlePreArticleTitle,jdbcType=VARCHAR},
            </if>
            <if test="articleNextArticleTitle != null">
                #{articleNextArticleTitle,jdbcType=VARCHAR},
            </if>
            <if test="articleImage != null">
                #{articleImage,jdbcType=VARCHAR},
            </if>
            <if test="articleTop != null">
                #{articleTop,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <delete id="deleteArticleById" parameterType="integer">
        DELETE FROM
            article
        WHERE
            article_id = #{articleId}
    </delete>

    <update id="updateArticle">
        UPDATE
            article
        <set>
            <if test="record.articleId != null">
                article_id = #{record.articleId,jdbcType=INTEGER},
            </if>
            <if test="record.articleTitle != null">
                article_title = #{record.articleTitle,jdbcType=VARCHAR},
            </if>
            <if test="record.articleMarkdownContent != null">
                article_markdown_content = #{record.articleMarkdownContent,jdbcType=VARCHAR},
            </if>
            <if test="record.articleSummary != null">
                article_summary = #{record.articleSummary,jdbcType=VARCHAR},
            </if>
            <if test="record.articleHtmlContent != null">
                article_html_content = #{record.articleHtmlContent,jdbcType=VARCHAR},
            </if>
            <if test="record.articleAuthor != null">
                article_author = #{record.articleAuthor,jdbcType=INTEGER},
            </if>
            <if test="record.articleReleaseDate != null">
                article_release_date = #{record.articleReleaseDate,jdbcType=TIMESTAMP},
            </if>
            <if test="record.articleUpdateDate != null">
                article_update_date = #{record.articleUpdateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="record.articleViewCount != null">
                article_view_count = #{record.articleViewCount,jdbcType=INTEGER},
            </if>
            <if test="record.articleCommentCount != null">
                article_comment_count = #{record.articleCommentCount,jdbcType=INTEGER},
            </if>
            <if test="record.articleLikeCount != null">
                article_like_count = #{record.articleLikeCount,jdbcType=INTEGER},
            </if>
            <if test="record.articleReleaseType != null">
                article_release_type = #{record.articleReleaseType,jdbcType=VARCHAR},
            </if>
            <if test="record.articleClassify != null">
                article_classify = #{record.articleClassify,jdbcType=VARCHAR},
            </if>
            <if test="record.articleTag != null">
                article_tag = #{record.articleTag,jdbcType=VARCHAR},
            </if>
            <if test="record.articleCanComment != null">
                article_can_comment = #{record.articleCanComment,jdbcType=BIT},
            </if>
            <if test="record.articlePreArticleTitle != null">
                article_pre_article_title = #{record.articlePreArticleTitle,jdbcType=VARCHAR},
            </if>
            <if test="record.articleNextArticleTitle != null">
                article_next_article_title = #{record.articleNextArticleTitle,jdbcType=VARCHAR},
            </if>
            <if test="record.articleImage != null">
                article_image = #{record.articleImage,jdbcType=VARCHAR},
            </if>
            <if test="record.articleTop != null">
                article_top = #{record.articleTop,jdbcType=INTEGER},
            </if>
        </set>
        WHERE
            article_id = #{articleId,jdbcType=INTEGER}
    </update>

    <select id="getAllArticle" resultMap="article">
        SELECT
            article_id,
            article_title,
            article_markdown_content,
            article_summary,
            article_html_content,
            article_author,
            article_release_date,
            article_update_date,
            article_view_count,
            article_comment_count,
            article_like_count,
            article_release_type,
            article_classify,
            article_tag,
            article_can_comment,
            article_pre_article_title,
            article_next_article_title,
            article_image,
            article_top
        FROM
            article
    </select>

    <select id="getArticleById" parameterType="integer" resultMap="article">
        SELECT
            article_id,
            article_title,
            article_markdown_content,
            article_summary,
            article_html_content,
            article_author,
            article_release_date,
            article_update_date,
            article_view_count,
            article_comment_count,
            article_like_count,
            article_release_type,
            article_classify,
            article_can_comment,
            article_pre_article_title,
            article_next_article_title,
            article_image,
            article_top
        FROM
            article
        WHERE article_id = #{articleId}
    </select>

    <select id="getArticlesByClassify" parameterType="string" resultMap="article">
        SELECT
            article_id,
            article_title,
            article_markdown_content,
            article_summary,
            article_html_content,
            article_author,
            article_release_date,
            article_update_date,
            article_view_count,
            article_comment_count,
            article_like_count,
            article_release_type,
            article_classify,
            article_tag,
            article_can_comment,
            article_pre_article_title,
            article_next_article_title,
            article_image,
            article_top
        FROM
            article
        WHERE
            article_classify = #{articleClassify}
    </select>

    <select id="getTop10ViewCountArticle" resultMap="article">
        SELECT
        article_id,
        article_title,
        article_markdown_content,
        article_summary,
        article_html_content,
        article_author,
        article_release_date,
        article_update_date,
        article_view_count,
        article_comment_count,
        article_like_count,
        article_release_type,
        article_classify,
        article_tag,
        article_can_comment,
        article_pre_article_title,
        article_next_article_title,
        article_image,
        article_top
        FROM
            article
        ORDER BY
            article_view_count DESC
        LIMIT 0, 10;
    </select>
</mapper>